
{% include "header.html" %}

{% load i18n %}

{% block head_title %}{% endblock %}

{% block content %}

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body >

    <div class="container">
      <br><br><br><br><br><br><br>
      <h2>Log-out</h2>
      <br><br><br><br>

      <p>
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
        <form method="post" action="{% url 'account_logout' %}">
           {% csrf_token %}
          {% if redirect_field_value %}


           <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <a class="btn btn-info btn-lg">
           <button class="glyphicon glyphicon-log-out" type="submit">{% trans 'SignOut' %}</button>
        </a>

        </form>
      <br><br><br><br><br>
      </p>

    </div>
  </body>
</html>


{% include "footer.html" %}

{% endblock %}

